<html>
  <head>
    <title>Mi Página By Mishu</title>
  </head>
  <body>
    <div>
      <h1><a href="https://djangogirls.org">Django Girls Blog</a></h1>
        </div>
           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="https://djangogirls.org">My first post</a></h2>
               <p>holi</p>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="https://djangogirls.org">My second post</a></h2>
               <p>Esto es una prueba</p>
           </div>
           <div>
              <p>Hola tu!</p>
              <p>Estamos intentandolo</p>
           </div>
  </body>
</html>
